<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="shortcut icon" href="../media/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/main.css">
    <title>AJA | SPECIAL | EDITION</title>
</head>
<body>
    
    <div class="colorx">
        <h2>WELCOME TO MY PPLA :)</h2>
    </div>

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="../../index.html">OK</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="#">aja<span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="index2.html">bien</a>
            </li>
          </ul>
          <span class="navbar-text">
            Popola © 2020
        </span>
        </div>
      </nav>

    <section class="colory">
        <h3>WALAVALTUCARAMORROW</h3>
        <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Id est quod doloremque in libero! Excepturi, mollitia aliquid nostrum, sed quis doloremque ducimus obcaecati provident temporibus ratione ipsum reprehenderit aperiam illo!
        </p>

        <em>HELOWALOV</em>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iste, enim! Illo porro ducimus, recusandae, rerum minus iusto id incidunt vitae provident consequuntur accusamus corporis aliquam maxime voluptatem suscipit. Ratione, corrupti!
        </p>

        <samp>
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sapiente laboriosam expedita quos sequi tempora totam a minima beatae nihil? Iure praesentium velit mollitia laborum soluta quaerat accusamus dicta ea eveniet.
        </samp>

        <h3>BENCADI</h3>

        <em>PELENENE</em>

        <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui facere porro eius excepturi, possimus harum quod delectus, expedita, voluptatem corrupti sapiente commodi consequuntur vel <kbd>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore ad, quod error nulla sint sit, magnam ipsam repudiandae maxime voluptates minus? In qui nostrum quia ipsam a, reiciendis labore est?</kbd> suscipit. Officiis laboriosam et voluptates libero!
        </p>
    </section>

    <footer>
        <div class="fot">
            <div class="item" id="item1">
                <img src="../media/img/a.png" alt="onePICTURE">
            </div>
            <div class="item" id="item2">
                <img src="../media/img/b.png" alt="twoPICTURE">
            </div>
            <div class="item" id="item3">

                <div class="container p-10" id="ip">
                    <div class="row">
                        <div class="col-md-10 offset-md-0">

                            <div class="card">
                                <div class="card-header text-center">
                                    <h3>Upload an Image</h3>
                                </div>
                                <div class="card-body">
                                    <form action="/upload" method="post" enctype="multipart/form-data">
                                        <div class="input-group mb-3">
                                            <div class="custom-file">
                                                <input type="file" name="image" class="custom-file-input" id="inputGroupFile02">
                                                <label class="custom-file-label" for="inputGroupFile02" aria-describedby="inputGroupFileAddon02">Choose
                                                    file</label>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="text" name="title" placeholder="Title" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <textarea name="description" placeholder="Description" class="form-control"></textarea>
                                        </div>
                                        <div class="form-group">
                                            <button class="btn btn-success btn-block">
                                                Upload
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
            
                </div>

            </div>
        </div>
    </footer>

</body>
</html>